@media (max-width: 1300px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills-ul {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 240px);
        }
        .skill {
            grid-template-columns: 40px 195px;
            column-gap: 15px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fs36 {
            font-size: 30px;
        }
    }
    .about {
        padding-top: 50px;
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills-ul {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
        }
        .skill {
            grid-template-columns: 40px 320px;
            column-gap: 20px;
        }
    }
    .resume {
        &__wrapper {
            padding: 20px 0 0 0;
            grid-template-columns: repeat(2, 330px);
            column-gap: 60px;
        }
    }
    .skills {
        &__list {
            grid-template-columns: repeat(3, 231px);
        }
        &__item {
            padding: 20px 20px 15px 20px;
        }
        &__scale {
            grid-template-columns: repeat(2, 350px);
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fs48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 100%;
        }
        &__img {
            grid-row: unset;
        }
        &__skills-ul {
            grid-column: inherit;
            grid-template-columns: repeat(2, 260px);
        }
        .skill {
            grid-template-columns: 40px 180px;
            column-gap: 20px;
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            padding: 40px 10px 0 10px;
            row-gap: 40px;
        }
    }
    .skills {
        &__list {
            grid-template-columns: repeat(2, 263px);
        }
        &__item {
            padding: 30px 30px 25px 30px;
        }
        &__scale {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fs48 {
            font-size: 26px;
        }
        &_fs36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        &__btn {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 100%;
        }
        &__skills-ul {
            grid-template-columns: 1fr;
        }
    }
    .skills {
        &__list {
            grid-template-columns: 1fr;
        }
        &__item {
            padding: 30px 30px 25px 30px;
        }
        &__scale {
            margin-top: 40px;
            grid-template-columns: 1fr;
            &-line {
                width: 100%;
            }
        }
    }
}